aside {
background-color: #FFEBCD;
float: right;
}
header {
background-color: #F5F5DC;
}
footer {
background-color: #DCDCDC;
}
.mySkills {
height: 200px;
width: 200px;  
border: 2px dotted;
}
h3 {font-family: "Lucida Console", "Courier New", monospace;
  padding: 5px;
}
h1 {border: 2px solid #FFEBCD;
font-family: "Lucida Console", "Courier New", monospace;
background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
padding: 5px;}
a {border: 2px solid #C71585;
border-radius: 5px;
padding: 5px;
}
a:hover, a:active {
background-color: red;
}
h2 {border-bottom: 2px dotted #FFEBCD;
font-family: "Lucida Console", "Courier New", monospace;
}
p {font-family: "Lucida Console", "Courier New", monospace;}
.myDiv {
position: fixed;
right: 0;
top: 0;
background-color: #008080;
}
#contact {
background-color: lightblue;
color: black;
padding: 40px;
text-align: center;
}
ol{font-family: "Lucida Console", "Courier New", monospace;}
